version: '2.4'
services:
    zookeeper:
        image: wurstmeister/zookeeper
        ports:
            - "2181:2181"
        networks:
            local:
                aliases:
                - "zookeeper.local"
          
    kafka:
        image: wurstmeister/kafka
        depends_on:
            - zookeeper
        ports:
            - "9092"
        environment:
            KAFKA_ADVERTISED_HOST_NAME: kafka.local
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_CREATE_TOPICS: "topic1-1-1"
        networks:
            local:
                aliases:
                - "kafka.local"
    watcher:
        build: ./
        depends_on:
            - kafka
        networks:
            local:
                aliases:
                - "kafka.local"
        environment:
            {{ app_name | upper }}_WATCHER_WATCH_KAFKA_TOPICS: "topic1-1-1"
            {{ app_name | upper }}_WATCHER_WATCH_KAFKA_URLS: "kafka:9092"
            {{ app_name | upper }}_WATCHER_WATCH_KAFKA_GROUP_ID: "test"
            {{ app_name | upper }}_WATCHER_LOG_LEVEL: "INFO"
        command: ["{{ app_name }}_watcher.pyz"]

    sender:
        build: ./
        depends_on:
            - watcher
        networks:
            local:
                aliases:
                - "kafka.local"
        environment:
            {{ app_name | upper }}_SENDER_SEND_KAFKA_URLS: "kafka:9092"
            {{ app_name | upper }}_SENDER_LOG_LEVEL: "INFO"
        command: ["{{ app_name }}_sender.pyz"]

networks:
    local:
        driver: bridge